@font-face {
  font-family: lovepreets;
  src: url(BungeeSpice-Regular.ttf);
}

#main-section,
#aboutus,
#pricing {
  min-height: 700px;
}
.text-large {
  font-size: 4rem;
}
.font-size {
  font-weight: bold;
}
.my-font-family {
  font-family: lovepreets;
}
@media screen and (max-width: 750px) {
  #width {
    width: 100% !important;
    margin-left: 20px;
    margin-right: 20px;
  }
  #main-section {
    padding: 0 !important;
  }
  #aboutus p {
    margin-right: 0 !important;
  }
  #main-section,
  #aboutus,
  #pricing {
    min-height: 800px;
  }
}
